@mixin bd-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
    @content;
}
// WebKit is the web browser engine used by Safari, Mail, App Store, and many other apps on macOS, iOS, and Linux.

.abc {
    @include bd-radius(5px) {
        border-style: dashed;
    }

    ;
}

//@content ka use mixin me value ke alawa koi extra data bhejne ke liye iska use hota h

@mixin test {
    @content;
}

// @include test {
//     .block {
//         color: green;
//     }
// }
// @include test {
//     .block {
//         color: red;
//     }
// } 
// .block{
//     color:red;
// }
@include test {
    .block {
        color: green;
    }
}
@include test {
    .block {
        color: red;
    }
} 
// .block1{
//     color:red;
// }

// ======
@mixin test {
    #menu {
        @content;
    }
}

@include test {
    .block {
        color: green;
    }
}

#menu .block{
    color: green;
}

// ===media-query===
body {
    background: grey;
}

@mixin media($width) {
    @media screen and (max-width: $width) {
        @content
    }
}

@include media(1300px){
    body{
        background: red;
    }
}
@include media(1000px){
    body{
        background: green;
    }
}
@include media(700px){
    body{
        background: yellow;
    }
}