// each loop ya to list ke liye chalta h ya to map ke liye

// @each $i in (normal, bold, italic){
//     .#{$i}{
//         font-weight: $i;
//     }
// }

// eg-2
$map : (normal: 12px, bold : 13px, italic : 14px);

@each $i, $font-size in $map{
    .#{$i}{
        font-weight: $i;
        font-size: $font-size;
    }
}