// =@if=

// $test : 20;

// p{
//     @if $test < 5 {color: blue;}
//     @if 1 + 1 == 2 {font-size: 10px;}
//     @if 11 > 10 {background: red;}
// }

// =@if, @else, @else if=

// $test : 12;

// p{
//     @if $test <= 5 {color : blue}
//     @else if $test > 5 and $test < 10{
//         color: green;
//     }
//     @else if $test >= 10 and $test < 13{
//         color: pink;
//     }
//     @else{color: red;}
// }

// =@if, @else, @else if=(eg-2 with mixin)

// @mixin changeColor($value){
//     font-size: $value + px;

//     @if $value > 0 and $value <= 50 {
//         color: green;
//     } @else if $value > 20 and $value <= 50 {
//         color: blue;
//     } @else{
//         color: red;
//     }
// }
// .test{
//     @include changeColor(100)
// }


// eg-3
@mixin box($value){
    @if $value == dark{
        background: black;
        color: white;
    }
    @else if $value == light{
        background: lightgray;
        color: black;
    }
}

.mybox{
    @include box(light);
    padding: 20px;
    margin: 100px;
    width: 200px;
    font-family: Arial;
}
// i made div in html for it