$base-color : pink;

#first, #second{
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

#first{
    background: $base-color;
}

#second{
    // background: darken($base-color,70);
    // color ko dark krta h

    // background: lighten($base-color,10);

    // background: adjust-hue($base-color,50);
    // usi color ka dark aur usi ka light color show karega

    // background: saturate($base-color,90);
    // saturate-usi color ka brightness dikhana
    // use rgb color on top

    // background: desaturate($base-color,50);
    // darkness karna

    // background: mix($base-color,rgb(168, 202, 168),10);
    
    // background: transparentize($base-color,0.9);

}