@mixin bd-radius($value){
     border-radius: $value;
}
@mixin box-shadow($left, $top, $blur, $spread, $color){
    box-shadow: $left $top $blur $spread $color;
}



div {
    margin: 0 0 15px 15px;
}

#first {
    background: blue;
    width: 150px;
    height: 150px;
    @include bd-radius(10px);
    @include box-shadow(5px, 5px, 10px, 5px, rgb(185, 174, 174))
    // x y blur spread color
}

#second {
    background: rgb(21, 255, 0);
    width: 400px;
    padding: 15px;
    @include bd-radius(10px);
    @include box-shadow(5px, 5px, 10px, 5px, rgb(185, 174, 174))
}

#third {
    background: rgb(255, 0, 64);
    width: 600px;
    padding: 20px;
    @include bd-radius(20px);
    @include box-shadow(5px, 5px, 10px, 5px, rgb(185, 174, 174))
}