.test {
    margin: abs(-10px);
}

.test {
    margin: ceil(10.1px);
}
// upar ka value

.test {
    margin: floor(3.7px);
}

// // niche ka value
.test {
    margin: round(5.9px);
}

// // 0.5 se upr h to to upr ka value 0.5 se niche h to to niche ka value 
.test {
    margin: max(5px, 10px, 50px);
}

.test {
    margin: min(5px, 10px, 50px);
}

.test {
    margin: percentage(100px/50px);
}

.test {
    margin: comparable(1km, 1px);
}

.test{
    margin: random(10);
}
.test {
    margin: unit(10px*2em);
}

.test{
    margin: unitless(10px);
}