$selector: selector-nest("ul","li");
#{$selector}{
    width: 10px;
}
//selector-nest 1st parameters ko parent tag bana dega aur 2nd ko child
//- dono ko combine karke ek nya selector bna dega

$selector: selector-nest(".abc","&:hover");
#{$selector}{
    width: 10px;
}

$selector: selector-nest(".abc","&_xyz");
#{$selector}{
    width: 10px;
}

// selector append:-ye dono ke bich me space ko khatm kar dega
$selector: selector-append("a",".active");
#{$selector}{
    width: 10px;
}

// ===selector-replace===
$selector: selector-replace("a.abc",".abc",".link");
#{$selector}{
    width: 10px;
}
// isme 3 parameter honge
// 1.jiske under hme kuch replace karni h
// 2.hme kya replace karni h
// 3.kya nyi value dalni h
// --(.abc ko replace karna h .link se)
// let (h1) ko replace karna h agr wo ni mila to 1st wala(a.abc) hi selector hi dikha dega

// ===is-superselector===
$selector: is-superselector("a","a.active");
#{$selector}{
    width: 10px;
}

$selector: is-superselector("a.active","a");
#{$selector}{
    width: 10px;
}
// --first me superselector h aur second me subselector

// ===simple-selector===
$selector: simple-selectors("a.abc");
#{$selector}{
    width: 10px;
}
// combine selector ko alg alg kar dega

// ===selector-unify===
$selector: selector-unify("a",".active");
#{$selector}{
    width: 10px;
}
// ye match bnane ka try krega agr match ban jata h to usko display kar dega

// ===selector-extend===
$selector: selector-extend("a.disable","a",".link");
#{$selector}{
    width: 10px;
}
// y apni trf se nya selector bnane ka try krta h