.test{
    font-family: quote(Arial);
}
.test{
    font-family: unquote("Arial");
}
.test{
    font-family: to-upper-case(Arial);
}
.test{
    font-family: to-lower-case(Arial);
}
.test{
    font-family: str-length("Arial");
}
.test{
    font-family: str-index("Arial", "a");
}
.test{
    font-family: str-insert("Arial","font",6);
}
// // kaha pr insert karna hai
.test{
    font-family: str-slice("Arial",3);
}
// // kha se uthana hai
.test{
    font-family: str-slice("Arial font",7,10);
}
// // kha se lekar kaha tk uthana hai
.test{
    font-family: str-slice("Arial font",7,-3);
}
// // kha se lekar kaha tk uthana hai(- piche se count karta h)
.test{
    font-family: unique-id();
}