@import '_colors';

.header{
    background: white;
    padding: 80px;
    text-align: center;

    @include mobile {
        padding: 55px; 
    }

    & h1{
    font-size: 3rem;

    @include mobile {
        font-size: 2rem;
    }
    }
    & p{
    margin-top: 20px;
    @include mobile {
        font-size: 0.9rem;
    }
    }
}
