@import '_colors';
@import '_media-queries';


.container {
    width: 700px;
    margin: auto;

    @include mobile {
        width: 320px;
        height: 100vh;
        overflow: scroll;
    }
}

.navbar {
    padding: 20px;
    background: $light;
    height: 80px;
    display: flex;
    align-items: center;

    @include mobile {
        width: 320px;
        position: sticky;
        top: 0;
    }

    &__bars--left {
        opacity: 0;

        @include mobile {
            opacity: 1;
        }

    }

    &__bars--right {
        opacity: 0;

        @include mobile {
            opacity: 1;
            margin-left: 70px;
        }
    }

    & h1 {
        position: relative;
        right: 20px;

        @include mobile {
            font-size: 20px;
            position: relative;
            left: 10px;
        }
    }
}