@import '_navbar';
@import '_footer';
@import '_header';
@import '_contant';

* {
    box-sizing: border-box;
    // padding aur border ke wjh se width nahi badhega
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

